:root { /* CSS HEX */
    --light-cyan: #c7eae4ff;
    --opal: #b6d9d4ff;
    --deep-space-sparkle: #3b6064ff;
    --spanish-pink: #fcbcb8ff;
    --pastel-pink: #efa7a7ff;
    --charcoal: #364958ff;
    }
    body {
        background-color: var(--light-cyan);
        color: var(--deep-space-sparkle)
    }
    header{
        background: var(--spanish-pink);
        text-align: center;
    }
    #search{
        background: var(--opal);
    }
    .five {
    background: var(--spanish-pink);
    padding: 10px;
    }











.header {
  

    background-color: rgb(81, 214, 238);
    color: white;
}

h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding:20px;
    margin: auto;
    text-align: center;
    font-size: 42px;
}

main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin:20px;
}

.search-city{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: lightgray;
    width: 30%;
    height:300px;
    
}

h2{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:24px;
    margin-left: 20px;
}

.inputValue{
    width: 300px;
    height:30px;
    margin:10px;
}

.button{
   width: 300px;
   height:30px;
   margin: 10px;

}

.content {
    width:60%;
    background-color: rgb(255, 255, 255);
}

.display {
    border: 1px solid black;
    margin: 0px 20px 20px 20px;
    height: 300px;
}

.weather-box{
    height: 300px;
    border: 1px solid black;
    margin: 20px;
}